{% extends 'subscribers/base2.html' %}

{% load static %}
{% block content %}
    <div class="container">


          <div class="d-flex justify-content-center mt-2 mb-2">
        <h2><strong>Subscribe to Get Updates and view your most recent articles </strong>  </h2>
      </div>
            {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
              {{message}}
            </div>
                {% endif %}
            {% endfor %}
            {% endif %}
                 {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">
              {{message}}
            </div>
                {% endif %}
            {% endfor %}
                {% endif %}
<form method="POST" class="" id="createSlider" enctype="multipart/form-data">
      {% csrf_token %}

            <div class="form-group">
                <label>First Name</label>
                     {{form.First_Name}}

                     {% for err in form.First_Name.errors%}
                   <small>{{err}}</small>
                     {% endfor %}
              </div>
           <div class="form-group">
                <label>Last Name</label>
                     {{form.Last_name}}

                     {% for err in form.Last_name.errors%}
                   <small>{{err}}</small>
                     {% endfor %}
              </div>
    <div class="form-group">
                <label>Email</label>
                     {{form.Email}}

                     {% for err in form.Email.errors%}
                   <small>{{err}}</small>
                     {% endfor %}
              </div>
    <div class="form-group">
                <label>Password</label>
                     {{form.Password}}

                     {% for err in form.Password.errors%}
                   <small>{{err}}</small>
                     {% endfor %}
              </div>
    <div class="form-group">
                <label>Confirm Password</label>
                     {{form.confirm_password}}

                     {% for err in form.confirm_password.errors%}
                   <small>{{err}}</small>
                     {% endfor %}
              </div><br>


              <small class="text-muted"><em>Please double check information before submitting.</em></small>
            <div class="modal-footer">
                <input class="btn btn-secondary" type="submit" name="cancel" value="cancel"/>
              <input type="submit" class="btn btn-success" name ='save' value="Subscribe">
            </div>

          </form>



    </div>
{% endblock %}

